.about {
  background: $purple;
  clear: both;

  &__wrapper {
    @include shift(4 of 12);
    @include span-columns(4 of 12);
    padding: $base-spacing;
    text-align: center;

    @include media($desktop) {
      @include shift(1 of 8);
      @include span-columns(6 of 8);
    }

    @include media($tablet) {
      @include shift(0);
      @include span-columns(4 of 4);
    }
  }

  &__slogan {
    font-size: rem(14);
    padding: $base-spacing;
    opacity: .5;
  }
}
