@-webkit-keyframes jump {
    0%   {transform: translateY(0px)}
    100%  {transform: translateY(8px)}
}
@-moz-keyframes jump {
    0%   {transform: translateY(0px)}
    100%  {transform: translateY(8px)}
}
@-o-keyframes jump {
    0%   {transform: translateY(0px)}
    100%  {transform: translateY(8px)}
}
@keyframes jump {
    0%   {transform: translateY(0px)}
    100%  {transform: translateY(8px)}
}
