.banner {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  video {
    @include transition(all .5s ease-in-out);
    background: url("home_banner.jpg") no-repeat scroll right / cover;
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    margin-top: -0px;
  }

  &--home {
      background: url("home_banner.jpg") no-repeat scroll right / cover;
      height: 100%;
  }

  &--suipa {
      background: url("suipa_banner.jpg") no-repeat scroll right / cover;

      @include media($hd-screen-up) {
        height: 100%;
      }
  }

  &__overlay {
    @include background-image(linear-gradient(to bottom, rgba($yellow, .9), rgba($orange, .5)));
    @include size(100%);
    min-height: 110vh;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  &__pattern {
    @include align-items(center);
    @include size(100%);
    min-height: 110vh;
    padding: rem(40) rem(20) 0;
    background: transparent url('raster.png') repeat scroll 0 0 / 3px auto;
  }

  &__content {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    &--center {
      @include justify-content(center);
    }
  }

  &__logo {
    @include align-self(flex-start);
    @include display(flex);
    margin-bottom: rem(40);
  }

  &__title {
    @include span-columns(5);
    @include shift(3);
    color: $white;
    text-align: center;
    font-size: rem(50);
    margin-bottom: rem(40);

    &--big {
      font-size: rem(35);
      float: left;
      display: inline;
      width: 56%;
      margin-bottom: 1.25rem;
      text-align: center;
      margin: 0 auto;

      @include media($hd-desktop) {
        margin: rem(30) auto;
      }

      @include media($desktop) {
        font-size: rem(20);
      }
    }

    span {
      display: block;
      font-size: rem(26);
      margin: rem(30) 0;
    }
  }

  &__scroll {
    cursor: pointer;
    animation: jump 1s ease-in-out infinite alternate;
    display: block;
    margin-bottom: rem(40);
    text-align: center;

    @include media($mobile) {
      display: none;
    }
  }
}
