.button {
  @include transition(all .5s ease-in-out);
  @include appearance(none);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: $base-spacing;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  text-transform: uppercase;

  &:hover {
    @include transform(scale(1.1));
    background: $green;
    color: $white;
  }

  &--primary {
    border: 1px solid $green;
    background: rgba($green, .5);
    color: $white;
    text-align: center;
    font-size: rem(24);
  }

  &--secondary {
    border: 1px solid $green;
    color: $white;
    font-size: rem(24);
  }

  &--hidden {
    background: rgba($purple,.7);
    border: 1px solid $white;
    color: $white;
    display: block;
    font-size: rem(16);
    margin: 20% 10%;
    opacity: 0;
    position: relative;

    &:hover {
      @include transform(scale(1));
      background: $purple;
      color: $white;
    }

  }


}
