$sel: 'card';

$angle : 140;
$main-color: #6ED1C5;

.#{$sel} {
  z-index: 20;
  position: relative;

  &__image {
    @include transition(all .5s ease-in-out);
    @include size(100%);
    opacity: .5;
    background-size: cover;
    position: absolute;
    background-position: center;
    z-index: 10;
  }

  &__list {
    padding: 0;
    margin: 0;

    @include media($hd-screen-up) {
      margin: 0;
    }

    @include media($hd-desktop) {
      margin: 0 rem(20);
    }

    @include media($mobile) {
      margin: 0 rem(20);
    }


    @for $i from 1 through 8 {
      $new-angle: $angle * $i;
      $new-color: adjust-hue($main-color,$new-angle);

       .#{$sel}__color:nth-of-type(#{$i}){
        @include background-image(linear-gradient(to right, $new-color, darken(adjust-hue($new-color, 30), 10%)));
        background-color: $new-color;

        .price-tag__price::before {
          @include background-image(linear-gradient($new-color,darken(adjust-hue($new-color, 30), 10%)));
          content: '';
          float: left;
          height: 27px;
          margin-left: -10px;
          margin-top: -4px;
          opacity: .7;
          width: 5px;
        }
      }

    }

  }

  &__title {
    @include transition(all .5s ease-in-out);
    font-size: rem(14);
    min-height: rem(250);
    padding: $base-spacing;

    span {
      float: left;
      font-size: rem(26);
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  &__item {
    @include span-columns(3 of 12);
    @include omega(4n);
    position: relative;
    margin-bottom: rem(30);
    overflow: hidden;

    @include media($desktop) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    @include media($mobile) {
      @include span-columns(4 of 4);
      @include omega(1n);
    }

    &--has-hover:hover {
      @include transition(all .5s ease-in-out);

      .#{$sel}__title {
        text-shadow: 1px 1px 10px $black;
      }

      .#{$sel}__image {
        @include transform(scale(1.1));
        opacity: .8;
      }
      .button--hidden {
        opacity: 1;
      }
    }
  }

  &__small-item {
    @include span-columns(2 of 12);

    position: relative;
  }
}
