.flash-message {
  @include shift(3);
  @include span-columns(6 of 12);
  background: rgba($purple, .7);
  display: inline-block;
  line-height: 2.3;
  min-height: rem(60);
  padding: $base-spacing;
  text-align: center;

  @include media($desktop) {
    @include shift(0);
    @include span-columns(8 of 8);
  }

  img {
    float: left;
    opacity: .7;
  }

}
