.flex-card {

  &__list {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(strech);
    @include flex-wrap(wrap);
    list-style: none;
    padding: 0;
    margin: 0;
    
    @include media($hd-desktop) {
      @include justify-content(center);
    }
  }

  &__item {
    @include display(inline-flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include flex-basis(24%);
    background: transparent;
    border: 1px solid $white;
    margin: 0 rem(10) rem(10) 0 ;
    padding: $base-spacing;
    text-align: center;

    @include media($hd-screen-up) {
      @include flex-basis(24%);
      @include flex-wrap(nowrap);
    }

    @include media($hd-desktop) {
      @include flex-basis(35%);
      @include justify-content(strech);
    }
  }

}
