.main-header {
  @include background-image(linear-gradient(to right, rgba($purple, .9), rgba($light-purple, .5)));
  color: $white;
  font-weight: lighter;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;

  @include media($desktop) {
    padding: 0 rem(10);
  }

  &__logo {
    float: left;
    padding: rem(9) 0;

    @include media($mobile) {
      text-align: center;
      width: 100%;
    }
  }


  &__info {
    float: right;

    @include media($mobile) {
      display: none;
    }

    li {
      @include display(inline-flex);
      float: left;
      line-height: 1.2;
      margin: 0 rem(20);

      img { float: left; }

      span {
        @include align-self(center);
        padding-left: rem(10);
        float: left;
      }
    }
  }
}
