.price-tag {
  background: $purple url('stars.svg') no-repeat scroll right top / 70px auto;
  padding: $base-spacing;
  position: relative;
  z-index: 20;

  &__title {
    font-size: rem(17);
    font-weight: lighter;
  }

  &__price {
    font-size: rem(35);
    display: inline-block;
    padding: 0;
    line-height: .5;
    padding-left: 10px;
    margin-top: 10px;

    span {
      font-size: 16px;
      float: right;
    }
  }
}
