h1.title--centered.-big-spacer Top Premium Breeds

ul.card.card__list
  li.card.card__item.card__color
    .card__image style=("background-image: url(<!-- @path stabyhoun.jpg -->)")
    .card.card__title
      span Stabyhoun
      |Puppies
    .price-tag
      .price-tag__title Starting at
      .price-tag__price
        | $2200,
        span 00
      a.button.button--secondary.-is-full href="<!-- @path suipa.slim -->" BUY NOW

  li.card.card__item.card__color
    .card__image style=("background-image: url(<!-- @path sharpei.jpg -->)")
    .card.card__title
      span Shar Pei
      |Puppies
    .price-tag
      .price-tag__title Starting at
      .price-tag__price
        | $2200,
        span 00
      a.button.button--secondary.-is-full href="<!-- @path suipa.slim -->" BUY NOW

  li.card.card__item.card__color
    .card__image style=("background-image: url(<!-- @path labrador.jpg -->)")
    .card.card__title
      span Labrador
      |Puppies
    .price-tag
      .price-tag__title Starting at
      .price-tag__price
        | $2200,
        span 00
      a.button.button--secondary.-is-full href="<!-- @path suipa.slim -->" BUY NOW

  li.card.card__item.card__color
    .card__image style=("background-image: url(<!-- @path bordercollie.jpg -->)")
    .card.card__title
      span Border Collie
      |Puppies
    .price-tag
      .price-tag__title Starting at
      .price-tag__price
        | $2200,
        span 00
      a.button.button--secondary.-is-full href="<!-- @path suipa.slim -->" BUY NOW
