doctype html
html
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    = @reload
    = stylesheet normalize style
    title BuyaPuppy.com
  body
