= include nav

.banner.banner--home
  video#bgvid autoplay="true" poster="<!-- @path home_banner.jpg -->"
    source src="assets/video.mp4" type="video/mp4"
    source src="assets/video.webm" type="video/webm"
  .banner__overlay
    .banner__pattern
      section.banner__content.banner__content--center
        h1.title--centered
          | Find the perfect puppy for you, for the right price
          br
          a#scrolldown.button.button--primary.-spacer href="#"  SEE THE CATALOG
