header.main-header
  section
    .main-header__logo
      = placeholder "90x40"

    ul.main-header__info
      li
        img src="<!-- @path shipping.svg -->"
        span
          | Free Shipping
          br
          .-is-small on All Items
      li
        img src="<!-- @path support.svg -->"
        span 3-(860)226-6806
