ul.flex-card__list
  li.flex-card.flex-card__item.flex-card__item
    img src="<!-- @path food_icon.svg -->"
    h2 Cover the food expenses of 39 dogs for 1  year
    .button.button--primary DONATE NOW

  li.flex-card.flex-card__item.flex-card__item
    img src="<!-- @path house_icon.svg -->"
    h2 Provide shelter for an animal  for 2 years
    .button.button--primary DONATE NOW

  li.flex-card.flex-card__item.flex-card__item
    img src="<!-- @path vaccine_icon.svg -->"
    h2 Pay the vaccines  and spaying for 10 animals
    .button.button--primary DONATE NOW

  li.flex-card.flex-card__item.flex-card__item
    img src="<!-- @path human_icon.svg -->"
    h2 Keep humans from getting diseases like lepstospirosis
    .button.button--primary DONATE NOW
