.banner.banner--suipa
  .banner__overlay
    .banner__pattern
      section.banner__content
        .flash-message
          img src="<!-- @path alert.svg -->"
          | YOUR ORDER HAS BEEN CANCELLED
        h1.banner__title.banner__title--big
          | Did you know that there are
          strong = ' 3 million'
          = ' abandoned animals in Brazil?'

          span With <strong>$2200,00</strong> you could:

        = include _suipa-cards

        .banner__scroll
          img src="<!-- @path arrow_down.svg -->"
