/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.project__wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .project__wrapper::after {
    clear: both;
    content: "";
    display: table; }
.project__description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 2.35765%; }
  .project__description:last-child {
    margin-right: 0; }
  .project__description:nth-child(1n) {
    margin-right: 0; }
  .project__description:nth-child(1n+1) {
    clear: left; }
  @media screen and (max-width: 30em) {
    .project__description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 10px; }
      .project__description:last-child {
        margin-right: 0; } }
  .project__description h3 {
    margin-top: 0;
    border-top: 0;
    border-bottom: 2px solid #fff; }

html {
  height: 100%; }

body {
  background: url(../apple-touch-icon.png) no-repeat center center; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles for mobile */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles for tablet */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* Don't forget your Retina CSS! */
  body {
    background-size: 72px 72px; } }