$small-screen: em(480);
$medium-screen: em(640);
$large-screen: em(860);
$hd-screen: em(1200);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$hd-screen-up: new-breakpoint(min-width $hd-screen 8);


$hd-desktop: new-breakpoint(max-width $hd-screen 8);
$desktop: new-breakpoint(max-width $large-screen 8);
$tablet: new-breakpoint(max-width $medium-screen 8);
$mobile: new-breakpoint(max-width $small-screen 8);
