.title {

  &--centered {
    @include shift(4);
    @include span-columns(4 of 12);
    font-size: rem(36);
    text-align: center;

    @include media($desktop) {
      @include span-columns(6 of 12);
      @include shift(3);
      font-size: rem(20);
    }

    @include media($mobile) {
      @include span-columns(4 of 4);
      @include shift(0);
      @include pad();
    }

    span {
      font-weight: bold;
      display: block;
    }

  }

}
