$black: #000;
$white: #fff;

$green: #2A9752;
$yellow: #CBC312;
$orange: #F76B1C;
$light-purple: #3A3344;
$purple: darken($light-purple, 6%);


$base-spacing: rem(10) rem(20);
$base-spacing-big: rem(20) rem(40);
$base-box-shadow: 0 0 2px rgba($black, .3);
