= include _header
= include _home-banner

section#main
  = include _breeds

= include _footer

javascript:
  var vid = document.getElementById("bgvid");

  vid.addEventListener('ended', function(){
    this.pause();
    delete this;
    $(this).remove();
  });
