= include _header
= include _suipa-banner
section.adoption-gallery
  h1.title--centered.-spacer
    | And you can also take one of our wagging tails home.
    span.-spacer For free.

  ul.card.card__list
    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog1.jpg -->)")
      .card.card__title
        span Jack
        | 4 months old
        .button.button--hidden Adopt me

    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog2.jpg -->)")
      .card.card__title
        span Harold
        | 2 years old
        .button.button--hidden Adopt me

    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog3.jpg -->)")
      .card.card__title
        span Cheryl
        | 5 years old
        .button.button--hidden Adopt me

    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog4.jpg -->)")
      .card.card__title
        span Woody
        | 11 months old
        .button.button--hidden Adopt me

    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog5.jpg -->)")
      .card.card__title
        span Terry
        | 6 years old
        .button.button--hidden Adopt me

    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog6.jpg -->)")
      .card.card__title
        span Oliver
        | 2 months old
        .button.button--hidden Adopt me

    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog7.jpg -->)")
      .card.card__title
        span Contreras
        | 3 years old
        .button.button--hidden Adopt me

    li.card.card__item.card__item--has-hover.card__color
      .card__image style=("background-image: url(<!-- @path dog8.jpg -->)")
      .card.card__title
        span Lisa Fox
        | 4 years old
        .button.button--hidden Adopt me

.about
  section
    .about__wrapper
      h5 This is a project by
      a href="http://www.suipa.org.br/" target="_blank"
        img src="<!-- @path suipa_logo.svg -->"

      h1.about__slogan
      |Taking care of abandoned
      br
      |animals for 73 years

= include _footer
