@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import "bourbon";
@import "neat";

@import "base/grid-settings";
@import "base/variables";
@import "base/modifiers";
@import "base/typography";

@import "components/main-header";
@import "components/banner";
@import "components/button";
@import "components/card";
@import "components/price-tag";
@import "components/flash-message";
@import "components/flex-card";
@import "components/about";
@import "components/animations";



html, body {
  background: $light-purple;
  color: $white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-size: rem(16);
  font-weight: bold;
  padding: $base-spacing;
}

h5 {
  font-weight: lighter;
  opacity: .5;
  padding: $base-spacing;
}

section {
  @include outer-container;
  height: 100%;
}

footer {
  background: darken($purple, 5%);
  border-top: 1px solid $purple;
  clear: both;
  color: rgba($white, .4);
  font-size: rem(12);
  padding: $base-spacing-big;
}
